<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>get_CoursesUCAS</servlet-name>
        <servlet-class>DATCOL.get_CoursesUCAS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getAllRegionsCounties</servlet-name>
        <servlet-class>BUSLOGIC.API_getAllRegionsCounties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getUserEmail</servlet-name>
        <servlet-class>BUSLOGIC.API_getUserEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getedubackground</servlet-name>
        <servlet-class>BUSLOGIC.API_getedubackground</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getedufields</servlet-name>
        <servlet-class>BUSLOGIC.API_getedufields</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getalllangs</servlet-name>
        <servlet-class>BUSLOGIC.API_getalllangs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getCourselvl</servlet-name>
        <servlet-class>BUSLOGIC.API_getCourselvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getNSS</servlet-name>
        <servlet-class>BUSLOGIC.API_getNSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_getItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getUserProfile</servlet-name>
        <servlet-class>BUSLOGIC.API_getUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_insertNewUser</servlet-name>
        <servlet-class>BUSLOGIC.API_insertNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_InsClassConf</servlet-name>
        <servlet-class>BUSLOGIC.API_InsClassConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_InsAreaOfInterest</servlet-name>
        <servlet-class>BUSLOGIC.API_InsAreaOfInterest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_insLanguage</servlet-name>
        <servlet-class>BUSLOGIC.API_insLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_insItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_insItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getAllClasses</servlet-name>
        <servlet-class>BUSLOGIC.API_getAllClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getAllInterests</servlet-name>
        <servlet-class>BUSLOGIC.API_getAllInterests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_insCourselvl</servlet-name>
        <servlet-class>BUSLOGIC.API_insCourselvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_updateItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_updateItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_removeRecord</servlet-name>
        <servlet-class>BUSLOGIC.API_removeRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_insCourseItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_insCourseItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getAllCourseItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_getAllCourseItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_updateCourseItemWeight</servlet-name>
        <servlet-class>BUSLOGIC.API_updateCourseItemWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_courseSearch</servlet-name>
        <servlet-class>BUSLOGIC.API_courseSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_findCourse</servlet-name>
        <servlet-class>BUSLOGIC.API_findCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>BUSLOGIC.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API_getUserByID</servlet-name>
        <servlet-class>BUSLOGIC.API_getUserByID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get_CoursesUCAS</servlet-name>
        <url-pattern>/get_CoursesUCAS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_findCourse</servlet-name>
        <url-pattern>/API_findCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getAllRegionsCounties</servlet-name>
        <url-pattern>/API_getAllRegionsCounties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getUserEmail</servlet-name>
        <url-pattern>/API_getUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getedubackground</servlet-name>
        <url-pattern>/API_getedubackground</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getedufields</servlet-name>
        <url-pattern>/API_getedufields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getalllangs</servlet-name>
        <url-pattern>/API_getalllangs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getCourselvl</servlet-name>
        <url-pattern>/API_getCourselvl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getNSS</servlet-name>
        <url-pattern>/API_getNSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getItemWeight</servlet-name>
        <url-pattern>/API_getItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getUserProfile</servlet-name>
        <url-pattern>/API_getUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_insertNewUser</servlet-name>
        <url-pattern>/API_insertNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_InsClassConf</servlet-name>
        <url-pattern>/API_InsClassConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_InsAreaOfInterest</servlet-name>
        <url-pattern>/API_InsAreaOfInterest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_insLanguage</servlet-name>
        <url-pattern>/API_insLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_insItemWeight</servlet-name>
        <url-pattern>/API_insItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getAllClasses</servlet-name>
        <url-pattern>/API_getAllClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getAllInterests</servlet-name>
        <url-pattern>/API_getAllInterests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_insCourselvl</servlet-name>
        <url-pattern>/API_insCourselvl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_updateItemWeight</servlet-name>
        <url-pattern>/API_updateItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_removeRecord</servlet-name>
        <url-pattern>/API_removeRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_insCourseItemWeight</servlet-name>
        <url-pattern>/API_insCourseItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getAllCourseItemWeight</servlet-name>
        <url-pattern>/API_getAllCourseItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_updateCourseItemWeight</servlet-name>
        <url-pattern>/API_updateCourseItemWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_courseSearch</servlet-name>
        <url-pattern>/API_courseSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API_getUserByID</servlet-name>
        <url-pattern>/API_getUserByID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
