<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title></title>

        <!-- Bootstrap core CSS -->


        <!-- Custom styles for this template -->

    </head>

    <body>
        <section ng-app="angulerRouter" ng-controller="angulerAdmin">

            <div class='row container-fluid'>
                <span>Filter </span><input type="text" ng-model="k" placeholder="Type to filter table">
                <table class="table table-hover ">


                    <tr>
                        <th>Field of study</th>
                        <th>Class Name</th>    
                        <th>Subclass Name</th>

                    </tr>
                    <tbody>
                        <tr ng-repeat="c in classesArray| filter:k">
                            <td>{{c.field_of_study}}</td>
                            <td>{{c.class_name}}</td>
                            <td>{{c.subclass_name}}</td>
                            <td><button class='btn btn-danger' ng-click='deleteClass(c.recid)'>DELETE</button></td>
                            <td><button class='btn btn-danger' ng-click='setClass(c.field_of_study, c.class_name)'>ADD SUBCLASS</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div ng-show='showAddsubClassesPanel'   class='row container-fluid'>
                <div class='col-8'>
                <h2>+Subclass to: {{fos}} - {{cln}}  </h2>
                
                <div class="form-group">
                    <label>Subclass Name</label>
                    <input type="text" ng-model="scln" name="subclassname" class="form-control" aria-describedby="SubclassHelp" placeholder="Enter Subclass Name">
                    <small id="SubclassHelp" class="form-text text-muted">Subclasses are the last child in the configuration tree.</small>

                    <button class='btn btn-danger' ng-disabled="disableaddsubclassbutton" ng-click='insertClass(fos,cln,scln)'>ADD SUBCLASS</button>
                </div>

                </div>
            </div>

        </section>

        <!--insertClass(c.field_of_study, c.class_name, scln)'-->

    </body>
</html>

