<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title></title>

        <!-- Bootstrap core CSS -->


        <!-- Custom styles for this template -->

    </head>

    <body>
        <section ng-app="angulerRouter" ng-controller="angulerAdmin">
            <div>
                <span>Filter </span><input type="text" ng-model="k" placeholder="Type to filter table">
                <table class="table table-hover">
                    <thead>
                    <th>Language ID</th>    
                    <th>Language Name</th>


                    </thead>
                    <tbody>
                        <tr ng-repeat="l in langsArray| filter:k">
                            <td>{{l.recid}}</td>
                            <td>{{l.language_name}}</td>
                            <td><button class='btn btn-danger' ng-click='deleteLanguage(l.recid)'>DELETE</button></td>


                        </tr>
                    </tbody>
                </table>

            </div>
        </section>


    </body>
</html>

